#dialog {
  border: var(--b-width) solid;
  border-color: #11dd11;
  border-radius: var(--b-radius);
  position: absolute;
  top: 50%;
  left: 50%;
  padding: 1rem;
  transform: translate(-50%, -50%);
  z-index: 100;
  background-color: var(--bg);
  width: 90%;
  color: #dddddd;
}

#container {
  display: flex;
  flex-direction: column;
}

.box {
  flex: 1;
  margin: 0.5rem;
  font-size: min(6vw, 2rem);
}

label {
  font-size: min(5vw, 1.8rem);
}

INPUT[type='checkbox'] {
  width: min(5vw, 1.8rem);
  height: min(5vw, 1.8rem);
  border-radius: var(--b-radius);
}

select {
  scrollbar-width: none;
  background-color: var(--bg);
  color: #bbbbbb;
  font-size: min(6vw, 2rem);
  width: 100%;
  overflow-y: auto;
  border: var(--b-width) solid;
  border-color: #222222;
  border-radius: var(--b-radius);
  height: 80%;
  margin: 0.2rem;
  outline: none;
  font-family: var(--font);
}

#channelBox button {
  width: 4rem;
  margin: 0.2rem;
}

#start {
  border: var(--b-width) solid;
  border-radius: var(--b-radius);
  background-color: var(--bg);
  font-size: 2rem;
  margin-top: 1rem;
  width: 100%;
  background-color: darkgreen;
  color: white;
  border-color: #11dd11;
}
