#dialog {
  border: var(--b-width) solid;
  border-color: #11dd11;
  border-radius: var(--b-radius);
  position: absolute;
  top: 50%;
  left: 50%;
  padding: 1rem;
  transform: translate(-50%, -50%);
  z-index: 100;
  background-color: var(--bg);
  width: 80%;
  color: #dddddd;
}

#container {
  display: flex;
  flex-direction: column;
}

@media (orientation: landscape) {
  #container {
    flex-direction: row;
  }
}

.box {
  flex: 1;
  margin: 0.5rem;
  font-size: min(6vw, 1.5rem);
}
@media (orientation: landscape) {
  #container {
    flex-direction: row;
  }
}

label {
  font-size: min(5vw, 1.3rem);
}

INPUT[type='checkbox'] {
  width: min(5vw, 1.3rem);
  height: min(5vw, 1.3rem);
  border-radius: var(--b-radius);
}

select {
  scrollbar-width: none;
  background-color: var(--bg);
  color: #bbbbbb;
  font-size: min(5vw, 1.3rem);
  width: 100%;
  overflow-y: auto;
  border: var(--b-width) solid;
  border-color: #222222;
  border-radius: var(--b-radius);
  margin: 0.2rem;
  outline: none;
  font-family: var(--font);
}

#start {
  border: var(--b-width) solid;
  border-radius: var(--b-radius);
  background-color: var(--bg);
  font-size: 2rem;
  font-family: var(--font);
  margin-top: 1rem;
  width: 100%;
  background-color: darkgreen;
  color: white;
  border-color: #11dd11;
}

.disabled {
  color: #444444 !important;
  background-color: #111111 !important;
  border-color: #666666 !important;
  pointer-events: none !important;
}
