:host {
  flex: 1 1;
  display: flex;
  margin: var(--spacing);
}

svg {
  height: 100%;
  margin: 0 auto;
}

div {
  flex: auto;
  justify-content: center;
  display: flex;
  align-items: center;
  text-align: center;
  cursor: pointer;
  overflow: hidden;
  user-select: none;
  position: relative;
}

.label {
  font-size: 8vmin;
  position: absolute;
  z-index: 40;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  line-height: 0.9em;
}
