:host {
  flex: 1 1;
  display: flex;
  margin: var(--spacing);
}

div {
  font-size: 4vw;
  display: flex;
  flex: 1 1;
  border: var(--b-width) solid;
  border-radius: var(--b-radius);
  justify-content: center;
  align-items: center;
  text-align: center;
  line-height: 0.9em;
  cursor: pointer;
  overflow: hidden;
  width: 1px;
  user-select: none;
  position: relative;
}

#marker {
  width: 3vmax;
  height: 3vmax;
  border-radius: 50%;
  position: absolute;
  background-color: white;
  display: block;
  z-index: 200;
  border: 0.3vmax solid white;
}

#label {
  border: none;
  padding: 1rem;
}
