<!DOCTYPE html>
<html>
  <head>
    <title>Touch Midi [Keyboard]</title>
    <script src="https://cdn.jsdelivr.net/gh/benc-uk/touchmidi@v2.2.0/dist/bundle.js"></script>
  </head>
  <body>
    <group-row>
      <midi-encoder cc="75" label="sc6\n%v"></midi-encoder>
      <midi-encoder cc="76" label="sc7\n%v"></midi-encoder>
      <midi-encoder cc="77" label="sc8\n%v"></midi-encoder>
      <midi-encoder cc="78" label="sc9\n%v"></midi-encoder>
      <midi-encoder cc="79" label="sc10\n%v"></midi-encoder>
      <midi-encoder cc="91" label="rvb\n%v" colour="aquamarine"></midi-encoder>
      <midi-encoder cc="93" label="cho\n%v" colour="aquamarine"></midi-encoder>
      <midi-encoder cc="94" label="det\n%v" colour="aquamarine"></midi-encoder>
    </group-row>
    <group-row>
      <midi-encoder cc="1" label="mod\n%v" colour="greenyellow"></midi-encoder>
      <midi-encoder cc="7" label="vol\n%v" colour="gold"></midi-encoder>
      <midi-encoder cc="10" label="pan\n%v" colour="gold"></midi-encoder>
      <midi-encoder cc="11" label="exp\n%v" colour="gold"></midi-encoder>
      <midi-encoder cc="71" label="res\n%v" colour="magenta"></midi-encoder>
      <midi-encoder cc="74" label="flt\n%v" colour="magenta"></midi-encoder>
      <midi-encoder cc="72" label="rel\n%v" colour="turquoise"></midi-encoder>
      <midi-encoder cc="73" label="att\n%v" colour="turquoise"></midi-encoder>
    </group-row>
  </body>
</html>
