<!DOCTYPE html>
<html>
  <head>
    <title>Touch Midi 2 [Keyboard]</title>
    <script src="../dist/bundle.js"></script>
  </head>
  <body>
    <group-row>
      <midi-spacer></midi-spacer>
      <midi-button note="49" colour="#3344ff" label="c#3"></midi-button>
      <midi-button note="51" colour="#3344ff" label="d#3"></midi-button>
      <midi-spacer></midi-spacer>
      <midi-button note="54" colour="#3344ff" label="f#3"></midi-button>
      <midi-button note="56" colour="#3344ff" label="g#3"></midi-button>
      <midi-button note="58" colour="#3344ff" label="a#3"></midi-button>
      <midi-spacer grow="2"></midi-spacer>
      <midi-button note="61" colour="#3344ff" label="c#4"></midi-button>
      <midi-button note="63" colour="#3344ff" label="d#4"></midi-button>
      <midi-spacer></midi-spacer>
      <midi-button note="66" colour="#3344ff" label="f#4"></midi-button>
      <midi-button note="68" colour="#3344ff" label="g#4"></midi-button>
      <midi-button note="70" colour="#3344ff" label="a#4"></midi-button>
      <midi-spacer></midi-spacer>
    </group-row>
    <group-row>
      <midi-button note="48" label="c3"></midi-button>
      <midi-button note="50" label="d3"></midi-button>
      <midi-button note="52" label="e3"></midi-button>
      <midi-button note="53" label="f3"></midi-button>
      <midi-button note="55" label="g3"></midi-button>
      <midi-button note="57" label="a3"></midi-button>
      <midi-button note="59" label="b3"></midi-button>

      <midi-button note="60" label="c4"></midi-button>
      <midi-button note="62" label="d4"></midi-button>
      <midi-button note="64" label="e4"></midi-button>
      <midi-button note="65" label="f4"></midi-button>
      <midi-button note="67" label="g4"></midi-button>
      <midi-button note="69" label="a4"></midi-button>
      <midi-button note="71" label="b4"></midi-button>
    </group-row>
  </body>
</html>
