<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <script src="../dist/bundle.js"></script>
  </head>
  <body>
    <group-row>
      <midi-slider chan="1" cc="7" label="vol \n%v" label-scale="0.6" colour="Yellow"></midi-slider>
      <midi-slider chan="1" cc="7" label="send\n%v" label-scale="0.6" colour="OrangeRed"></midi-slider>
      <midi-slider chan="1" cc="7" label="decay\n%v" label-scale="0.6" colour="BlueViolet"></midi-slider>
      <midi-spacer></midi-spacer>
    </group-row>
  </body>
</html>
