<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <script src="../dist/bundle.js"></script>
  </head>
  <body>
    <group-row>
      <midi-slider cc="3" chan="3"></midi-slider>
      <midi-slider cc="3" chan="test-1"></midi-slider>
      <midi-slider cc="3" chan="test 2"></midi-slider>
      <midi-slider cc="3" chan=" test 2"></midi-slider>
      <midi-slider cc="3" chan="5.6"></midi-slider>
      <midi-slider cc="3" chan="-7"></midi-slider>
      <midi-slider cc="3" chan="17"></midi-slider>
    </group-row>
  </body>
</html>
