<!DOCTYPE html>
<html>
  <head>
    <title>Touch Midi [Polyend Tracker]</title>
    <script src="../dist/bundle.js"></script>
  </head>
  <body>
    <group-row>
      <group-column>
        <midi-slider cc="71" label="trk 1\n\n%v" grow="3"></midi-slider>
        <midi-button cc="71" value="0" value-off="110" label="mute" toggle colour="#ff2222"></midi-button>
        <midi-encoder cc="51" label="fx 1" label-scale="1.5" colour="lime"></midi-encoder>
        <midi-counter cc="41" value="1" colour="cyan"></midi-counter>
      </group-column>
      <group-column>
        <midi-slider cc="72" label="trk 2\n\n%v" grow="3"></midi-slider>
        <midi-button cc="72" value="0" value-off="110" label="mute" toggle colour="#ff2222"></midi-button>
        <midi-encoder cc="52" label="fx 2" label-scale="1.5" colour="lime"></midi-encoder>
        <midi-counter cc="42" value="1" colour="cyan"></midi-counter>
      </group-column>
      <group-column>
        <midi-slider cc="73" label="trk 3\n\n%v" grow="3"></midi-slider>
        <midi-button cc="73" value="0" value-off="110" label="mute" toggle colour="#ff2222"></midi-button>
        <midi-encoder cc="53" label="fx 3" label-scale="1.5" colour="lime"></midi-encoder>
        <midi-counter cc="43" value="1" colour="cyan"></midi-counter>
      </group-column>
      <group-column>
        <midi-slider cc="74" label="trk 4\n\n%v" grow="3"></midi-slider>
        <midi-button cc="74" value="0" value-off="110" label="mute" toggle colour="#ff2222"></midi-button>
        <midi-encoder cc="54" label="fx 4" label-scale="1.5" colour="lime"></midi-encoder>
        <midi-counter cc="44" value="1" colour="cyan"></midi-counter>
      </group-column>
      <group-column>
        <midi-slider cc="75" label="trk 5\n\n%v" grow="3"></midi-slider>
        <midi-button cc="75" value="0" value-off="110" label="mute" toggle colour="#ff2222"></midi-button>
        <midi-encoder cc="55" label="fx 5" label-scale="1.5" colour="lime"></midi-encoder>
        <midi-counter cc="45" value="1" colour="cyan"></midi-counter>
      </group-column>
      <group-column>
        <midi-slider cc="76" label="trk 6\n\n%v" grow="3"></midi-slider>
        <midi-button cc="76" value="0" value-off="110" label="mute" toggle colour="#ff2222"></midi-button>
        <midi-encoder cc="56" label="fx 6" label-scale="1.5" colour="lime"></midi-encoder>
        <midi-counter cc="46" value="1" colour="cyan"></midi-counter>
      </group-column>
      <group-column>
        <midi-slider cc="77" label="trk 7\n\n%v" grow="3"></midi-slider>
        <midi-button cc="77" value="0" value-off="110" label="mute" toggle colour="#ff2222"></midi-button>
        <midi-encoder cc="57" label="fx 7" label-scale="1.5" colour="lime"></midi-encoder>
        <midi-counter cc="47" value="1" colour="cyan"></midi-counter>
      </group-column>
      <group-column>
        <midi-slider cc="78" label="trk 8\n\n%v" grow="3"></midi-slider>
        <midi-button cc="78" value="0" value-off="110" label="mute" toggle colour="#ff2222"></midi-button>
        <midi-encoder cc="58" label="fx 8" label-scale="1.5" colour="lime"></midi-encoder>
        <midi-counter cc="48" value="1" colour="cyan"></midi-counter>
      </group-column>

      <!--<group-column>
        <midi-slider cc="79" label="delay\n%v" ></midi-slider>
        <midi-button cc="79" value="0" value-off="110" label="mute" toggle colour="#ff2222"></midi-button>
      </group-column>
      <group-column>
        <midi-slider cc="80" label="reverb\n%v" ></midi-slider>
        <midi-button cc="80" value="0" value-off="110" label="mute" toggle colour="#ff2222"></midi-button>
      </group-column>
      <group-column>
        <midi-slider cc="81" label="dry\n%v" ></midi-slider>
        <midi-button cc="81" value="0" value-off="110" label="mute" toggle colour="#ff2222"></midi-button>
      </group-column>
      <group-column>
        <midi-slider cc="82" label="line-in\n%v" ></midi-slider>
        <midi-button cc="82" value="0" value-off="110" label="mute" toggle colour="#ff2222"></midi-button> </group-column
      >-->
    </group-row>
  </body>
</html>
