@import url('https://fonts.googleapis.com/css2?family=PT+Sans&display=swap');

:root {
  /* these variables are used everywhere */
  --bg: black; /* background colour */
  --b-radius: min(1.9vmin, 15px); /* border radius */
  --b-width: 0.3rem; /* border thickness */
  --spacing: 0.3rem; /* widget spacing */

  --font: 'PT Sans', sans-serif; /* Consolas, 'Courier New', monospace; */
}

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  overflow-y: hidden;
  color: white;
  background-color: var(--bg);
  font-family: var(--font);
  touch-action: none;
}

body {
  display: flex;
  flex-direction: column;
}

/* Used to hide the page behind the config dialog */
#pageMask {
  background: rgba(0, 0, 0, 0.8);
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: none;
}
